@import '../../constants/styles.scss';

.ql-container {
  margin: 0px;

  .ql-editor {
    height: 100%;
    outline: none;
    overflow-y: auto;
    tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;

    & > * {
      cursor: text;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }

  .ql-tooltip {
    position: absolute;
    transform: translateY(8px);
    background-color: $white;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 3px #aaa;
    border-radius: 5px;
    width: auto !important;

    &-editor {
      display: none;
    }

    &.ql-hidden {
      display: none;
    }

    .ql-toolbar {
      display: flex;
      align-items: center;

      // .ql-color-picker, button {
      button {
        background: none;
        border: none;
        cursor: pointer;
        height: 30px;
        padding: 6px 6px;
        width: 30px;

        &.ql-active {
          background-color: #F0F0F0;
          background-color: var(--button-active-color);
        }

        &:active:hover {
          outline: none;
        }

        &:hover {
          background-color: #F6F6F6;
          background-color: var(--button-hover-color);
        }
      }

      // .ql-color-picker {
      //   width: 20px;
      //   height: 19px;
      //   margin-right: -2px;
      //   outline: none;

      //   &.ql-expanded {
      //     .ql-picker-options {
      //       display: block;
      //       margin-top: -1px;
      //       top: 100%;
      //       z-index: 1;
      //     }
      //   }

      //   .ql-picker-label {
      //     outline: none;
      //   }

      //   .ql-picker-options {
      //     background-color: #fafafa;
      //     min-width: 100%;
      //     width: 152px;
      //     padding: 4px 8px;
      //     position: absolute;
      //     white-space: nowrap;
      //     padding: 3px 5px;

      //     .ql-picker-item {
      //       display: block;
      //       border: 1px solid transparent;
      //       float: left;
      //       height: 26px;
      //       margin: 1px;
      //       // padding: 0;
      //       // padding-top: 5px;
      //       width: 30px;
      //       cursor: pointer;
      //       // display: block;
      //       padding-bottom: 5px;
      //     }
      //   }

      //   svg {
      //     width: 20px;
      //     height: 19px;
      //   }

      //   .ql-color-label.ql-stroke {
      //     stroke-width: 1;
      //   }
      // }

      .ql-formats {
        display: flex;
      }
    }
  }

  .ql-stroke {
    fill: none;
    stroke: #757575;
    stroke: var(--icon-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }

  .ql-stroke-miter {
    fill: none;
    stroke: #757575;
    stroke: var(--icon-color);
    stroke-miterlimit: 10;
    stroke-width: 2;
  }

  .ql-fill,
  .ql-stroke.ql-fill {
    fill: #757575;
    fill: var(--icon-color);
  }

  .ql-empty {
    fill: none;
  }

  .ql-even {
    fill-rule: evenodd;
  }

  .ql-thin,
  .ql-stroke.ql-thin {
    stroke-width: 1;
  }
}

.ql-clipboard {
  position: absolute;
  height: 1px;
  top: 50%;
  left: -100000px;
  overflow-y: hidden;

  p {
    margin: 0;
    padding: 0;
  }
}