@import '../../constants/styles.scss';
@import '../../constants/popup';

.RichTextPopup {
  @extend %popup;
  padding: 0;
  overflow: hidden;
  flex-direction: column;

  .rich-text-format {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    width: 100%;
    justify-content: center;

    button {
      margin: 0;
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: $button-width;
      height: 47px;

      &.ql-active {
        background-color: #f0f0f0;
        background-color: var(--button-active-color);
      }

      &:active:hover {
        outline: none;
      }

      &:hover {
        background-color: #f6f6f6;
        background-color: var(--button-hover-color);
      }

      .Icon {
        width: $popup-icon-width;
        height: $popup-icon-height;
      }
    }
  }

  .ColorPalette {
    width: 256px;
    padding: 10px;
    background-color: #fafafa;
    margin-top: 0px;
  }
}
